.card_grid_conteudo {
  overflow-y: auto;
  //padding: 10px;
}

.filtro_campo {
  display: flex;
  align-items: center;
}
.filtro_campo_nome {
  flex: 0.15;
}
.filtro_campo_operacoes {
  flex: 0.1;
}
.filtro_campo_input {
  flex: 0.55;
}
